name: Level 1 Practice
on: workflow_dispatch
jobs:
   first-job:
     runs-on: ubuntu-latest

     steps:
        - name: checkout code 
          uses: actions/checkout@v4
        - name: list files
          run: ls -la 
